@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme inline {
  --font-truculenta: var(--font-truculenta);
  --font-montserrat: var(--font-montserrat);
  --text-xs: 0.875rem;
  --text-xs--line-height: inherit;
  --text-sm: 1rem;
  --text-sm--line-height: inherit;
  --text-base: 1.125rem;
  --text-base--line-height: inherit;
  --text-lg: 1.25rem;
  --text-lg--line-height: inherit;
  --text-xl: 1.5rem;
  --text-xl--line-height: inherit;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: inherit;
  --text-3xl: 2rem;
  --text-3xl--line-height: inherit;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: inherit;
  --text-5xl: 3.25rem;
  --text-5xl--line-height: inherit;
  --text-6xl: 4rem;
  --text-6xl--line-height: inherit;
  --text-7xl: 5rem;
  --text-7xl--line-height: inherit;
  --text-8xl: 6rem;
  --text-8xl--line-height: inherit;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1500px;
  --breakpoint-2xl: 1800px;

  --font-nunito: Nunito, ui-sans-serif, system-ui, sans-serif;
  --font-lato: Lato, ui-sans-serif, system-ui, sans-serif;

  --border-width-3: 3px;

  --spacing-128: 32rem;
  --max-width-8xl: 86rem;
  --opacity-7: 0.075;
  --opacity-15: 0.15;
  --z-index--1: -1;

  --color-gray-50: #F6F6F9;
  --color-gray-100: #EDECF3;
  --color-gray-150: #E6E3EF;
  --color-gray-200: #E1DDEC;
  --color-gray-250: #C9C5D5;
  --color-gray-300: #b2adbe;
  --color-gray-400: #918c9e;
  --color-gray-500: #716c7f;
  --color-gray-600: #565165;
  --color-gray-700: #433e52;
  --color-gray-800: #363145;
  --color-gray-900: #252336;
  --color-gray-1000: #1c1b2e;

  --color-blue-50: #DCEEFF;
  --color-blue-100: #B4DBFF;
  --color-blue-200: #85C5FE;
  --color-blue-300: #4EABFE;
  --color-blue-400: #2296fe;
  --color-blue-500: #0084FF;
  --color-blue-600: #0574e4;
  --color-blue-700: #0D5DBD;
  --color-blue-800: #144696;
  --color-blue-900: #1D2C6C;
  --color-blue-1000: #241748;

  --color-orange-200: #EB7752;
  --color-orange-300: #EA6C45;
  --color-orange-400: #E85C30;
  --color-orange-500: #EC4815;
  --color-orange-600: #DC4419;
  --color-orange-700: #D04017;
  --color-orange-800: #C1360F;

  --color-teal-50: var(--color-cyan-50);
  --color-teal-100: var(--color-cyan-100);
  --color-teal-200: var(--color-cyan-200);
  --color-teal-300: var(--color-cyan-300);
  --color-teal-400: var(--color-cyan-400);
  --color-teal-500: var(--color-cyan-500);
  --color-teal-600: var(--color-cyan-600);
  --color-teal-700: var(--color-cyan-700);
  --color-teal-800: var(--color-cyan-800);
  --color-teal-900: var(--color-cyan-900);
  --color-teal-950: var(--color-cyan-950);

  --color-green-50: var(--color-emerald-50);
  --color-green-100: var(--color-emerald-100);
  --color-green-200: var(--color-emerald-200);
  --color-green-300: var(--color-emerald-300);
  --color-green-400: var(--color-emerald-400);
  --color-green-500: var(--color-emerald-500);
  --color-green-600: var(--color-emerald-600);
  --color-green-700: var(--color-emerald-700);
  --color-green-800: var(--color-emerald-800);
  --color-green-900: var(--color-emerald-900);
  --color-green-950: var(--color-emerald-950);

  --color-red-50: var(--color-rose-50);
  --color-red-100: var(--color-rose-100);
  --color-red-200: var(--color-rose-200);
  --color-red-300: var(--color-rose-300);
  --color-red-400: var(--color-rose-400);
  --color-red-500: var(--color-rose-500);
  --color-red-600: var(--color-rose-600);
  --color-red-700: var(--color-rose-700);
  --color-red-800: var(--color-rose-800);
  --color-red-900: var(--color-rose-900);
  --color-red-950: var(--color-rose-950);
}

:root {
  --highlight-text-dark: #000000;
  --highlight-text-light: #ffffff;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  --tw-prose-headings: var(--color-emerald-800);
}
.prose :is(h1, h2, h3, h4, blockquote, a) {
  font-family: var(--font-truculenta);
}
.prose pre {
  color: var(--color-gray-700);
  background-color: var(--color-gray-100);
  line-height: 1.5;
}
.prose code {
  background-color: var(--color-gray-100);
  padding: 0.25rem;
  border-radius: 3px;
  margin: -0.25rem 1px;
}
.prose code::before,
.prose code::after {
  content: "";
}

.prose-dark {
  color: var(--color-gray-200);
  --tw-prose-headings: var(--color-gray-100);
}
.prose-dark :is(h1, h2, h3, h4),
.prose-dark a,
.prose-dark strong,
.prose-dark blockquote,
.prose-dark a code {
  color: var(--color-gray-100);
}
.prose-dark blockquote {
  border-left-color: var(--color-gray-800);
}
.prose-dark code {
  color: var(--color-gray-100);
  background-color: var(--color-gray-1000);
}
.prose-dark pre {
  color: var(--color-gray-200);
  background-color: var(--color-gray-900);
}
.prose-dark hr {
  border-color: var(--color-gray-800);
}
.prose-dark thead {
  color: var(--color-gray-100);
  border-bottom-color: var(--color-gray-700);
}
.prose-dark tbody tr {
  border-bottom-color: var(--color-gray-800);
}
.prose-dark ul > li::before {
  background-color: var(--color-gray-700);
}
